# Set the registry to use for downloading packages
registry=https://registry.npmjs.org/

# Set the default license for packages
init.license=MIT

# Set the maximum number of retries for network requests
fetch-retries=5

# Set the time to wait before retrying a failed request (in milliseconds)
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000